[submodule "freesurfer_tabulate"]
	path = freesurfer_tabulate
	url = https://github.com/PennLINC/freesurfer_tabulate.git
	datalad-id = 99859582-d83b-414d-b348-da8d4a803603
	datalad-url = https://github.com/PennLINC/freesurfer_tabulate.git
[submodule "inputs/data"]
	path = inputs/data
	url = /cbica/projects/RBC/freesurfer_stats/input_data/CCNP_fmriprep
	datalad-id = eee0d711-f800-4725-8097-4c7b79c7d87f
	datalad-url = /cbica/projects/RBC/freesurfer_stats/input_data/CCNP_fmriprep
[submodule "fstabulate-containers"]
	path = fstabulate-containers
	url = /cbica/projects/RBC/freesurfer_stats/CCNP/fs-tabulate/fstabulate-containers
	datalad-id = bec408bc-e7aa-4cd2-b455-f18f1597830a
	datalad-url = /cbica/projects/RBC/freesurfer_stats/CCNP/fs-tabulate/fstabulate-containers
